
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

button {
    font-size: 30px;
    margin-top: 50px;
}

.gridArea {
    display: flex;
    background-color: lightblue;
    height: 600px;
    width: 600px;
    align-items: stretch;
    justify-content: center;
    padding: 8px 0px;
}

.squaresContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: pink; */
    max-height: 100%;
    max-width: 100%;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 8px;
}

.square {
    background-color: rgb(84, 141, 246);
    min-height: 100%;
    max-width: 100%;
    flex: 1;
    margin: 8px;
}
